$padding: 0 15px;
$container: 1140px;
$secpadding-sm: 60px 0;
$secpadding-md: 80px 0;
$secpadding: 120px 0;

$transition: cubic-bezier(0.165, 0.84, 0.44, 1);
//fonts
$basic-font: 'opensans', sans-serif;
$title-font: 'Montserrat', sans-serif;